.search-result-container {
    max-width: 70%;
    /* max-height: 50%; */
    padding: 20px;
    margin: 0 auto;
  }
  

  .button-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ */
    gap: 20px; /* ช่องว่างระหว่างการ์ด */
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .button-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 220px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #f3f3f3;
  }
  
  .button-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .button-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .button-card-info {
    text-align: center;
  }
  
  .button-card-name {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .button-card-price {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .s-pagination {
    text-align: center;
    margin-top: 40px;
  }
  
  .s-pagination button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .s-pagination-dot {
    width: 12px;
    height: 12px;
    background: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .s-pagination-dot.active {
    background: #000;
  }
  